<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.community">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="HolLaw"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Community"
        tools:targetApi="31">

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".community_content_list"
            android:label="검색결과" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="로그인화면" />
        <activity
            android:name=".Activity.JoinActivity"
            android:label="회원가입" />
        <activity
            android:name=".Activity.ChatbotActivity"
            android:label="챗봇서비스" />
        <activity
            android:name=".Activity.ResultActivity"
            android:label="검색결과" />
        <activity
            android:name=".Activity.CommunityActivity"
            android:label="커뮤니티" />
        <activity
            android:name=".Activity.WritingActivity"
            android:label="게시물작성" />
        <activity
            android:name=".Activity.FullPrecedentActivity"
            android:label="판례전문" />
        <activity
            android:name=".Activity.TransitFieldActivity"
            android:label="교통/운전" />
        <activity
            android:name=".Activity.FragmentCommunityContentActivity"
            android:label="커뮤니티" />
    </application>

</manifest>